html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  padding: 20px 0;
  background-color: #555;
  font-family: helvetica;
}

ol{
  padding-left: 15px;
  margin-bottom: 10px;
}

.main{
  height: 100%;
  background-color: white;
}
